<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start mb-2">
            <a href="/">
                <img width="185" height="25" src="/img/yahoo_answers.png">
            </a>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start mb-2">
          
			<input class="form-control rounded-pill shadow-none"  placeholder="Pesquisar perguntas">

        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end mb-2">

            <a href="/ask">
                <button class="btn btn-primary rounded-pill">Perguntar</button>
            </a>
        </div>

    </div>
</div>
